@import 'partials/settings';
@import 'foundation/components/grid';
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Lato);

// VARIABLES



// MEDIA QUERIES
$small : "only screen and (min-width : 1px) and (max-width : 600px )";
$medium : "only screen and (min-width : 601px) and (max-width : 1000px )";
$large: "only screen and (max-width : 1000px)";

body {
  font-family: 'Oswald', sans-serif;
  font-family: 'Lato', sans-serif;
  background-image:url("../assets/bg.jpg");
  background-repeat: repeat;
}

h1 {
  background-color: #fff;

  @media #{$small}{

  }

  @media #{$medium}{

  }

  @media #{$large}{

  }
}

section {
  article {
    @media #{$small}{
      background-color: #fff;

    }

    @media #{$medium}{

    }

    @media #{$large}{

    }
  }
}
